<!-- Modal -->
<div
  class="modal fade"
  id="chatgpt"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          자소서 초안 생성 Chat GPT
        </h1>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <p class="text-secondary">
          키워드를 입력하시면 직무경험 기반 자소서가 생성됩니다.
        </p>

        <!-- 내용 -->
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label experience"
            >직무 및 경험 작성</label
          >
          <textarea
            class="form-control"
            id="addExampleFormControlTextarea1"
            rows="5"
            placeholder="키워드를 3개 이상 입력해주세요. 자세히 입력하면 완성도가 높아져요!"
          ></textarea>
          <div>
            <button
              type="button"
              class="btn btn-primary make-about-me-btn"
              style="margin-top: 10px; margin-bottom: 60px; float: right"
            >
              생성하기
            </button>
          </div>
        </div>

        <!-- 내용 -->
        <!-- 제목 -->
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="addExampleFormControlInput1"
            placeholder="자기소개서 제목을 입력해주세요."
          />
        </div>
        <!-- 제목 -->
        <!-- 내용 -->
        <div class="mb-3">
          <textarea
            class="form-control make-about-me"
            id="addExampleFormControlTextarea1"
            rows="15"
            placeholder="이곳에 자기소개서가 생성됩니다."
          ></textarea>
        </div>
        <!-- 내용 -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          취소
        </button>
        <button type="button" class="btn btn-primary" id="addAboutMeBtn">
          추가
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  const experienceEl = document.querySelector('.experience'); //직무 경험 작성 인풋
  const makeAboutMeEl = document.querySelector('.make-about-me'); // 생성되는 인풋
  const makeAboutMeBtn = document.querySelector('.make-about-me-btn'); // 생성하기 버튼

  makeAboutMeBtn.addEventListener('click', async (event) => {
    e.preventDefault();

    const response = await fetch(`/api/chatgpt`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
    });

    if (response.ok) {
      const data = await response.json();
      makeAboutMeEl.textContent = data.message;
    } else {
      makeAboutMeEl.textContent = 'Error submitting the form.';
    }
  });
</script>
