<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      main {
        flex-grow: 1;
      }

      footer {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0079f3;
        height: 80px;
      }
    </style>
  </head>
  <body>
    <footer>
      <div style="color: white">© 2023 3조 최종프로젝트 - Winner, Inc</div>
    </footer>
  </body>
</html>
