<style></style>
<nav>
  <div>
    <div class="container">
      <div>
        <img class="logo" src="/img/winner.png" alt="" srcset="" />
      </div>
      <div class="search-box">
        <i class="fa-solid fa-magnifying-glass search-font"></i>
        <input class="search-input" type="text" />
      </div>
      <ul class="nav-list">
        <li>로그인</li>
        <li>회원가입</li>
      </ul>
    </div>
  </div>
</nav>
