<style>
  body {
    margin: 0;
  }

  .container-header {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.92);
    color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    line-height: 40px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
  }

  .logo {
    margin: 0;
    cursor: pointer;
    /* position: absolute; */
    transform: translate(0%, +15%);
  }

  .nav-list {
    display: flex;
    position: absolute;
    right: 10px;
  }

  li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
  }

  .search-box {
    width: 275px;
    border: 1px solid #396cf9;
    border-radius: 10px;
    height: 35px;
    margin-left: 10px;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    padding-left: 10px;
  }
  .search-input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
  }
  .search-input:focus {
    outline: none;
  }

  .search-font {
    font-size: 1.3em;
    margin-left: 3px;
    cursor: pointer;
    transform: translate(0%, +20%);
  }
</style>
<nav>
  <div>
    <div class="container-header">
      <div>
        <img class="logo" src="/img/winner.png" alt="" srcset="" />
      </div>
      <div class="search-box">
        <i class="fa-solid fa-magnifying-glass search-font"></i>
        <input class="search-input" type="text" />
      </div>
      <ul class="nav-list">
        <li>로그인</li>
        <li>회원가입</li>
      </ul>
    </div>
  </div>
</nav>
