<body>
  <nav>
    <div>
      <div class="container-header">
        <div>
          <a href="/">
            <img class="header-logo" src="/img/winner.png" alt="" srcset="" />
          </a>
        </div>
        <div class="search-box">
          <i class="fa-solid fa-magnifying-glass search-font"></i>
          <input class="search-input" type="text" />
        </div>
        <% if(isLogin === 1) { %>
        <ul class="header-nav-list">
          <li>
            <i class="fa-solid fa-list-check header-icon"></i>
          </li>
          <li id="message-icon" class="message-icon">
            <i class="fa-regular fa-message header-icon"></i>
            <!-- 메세지 리스트가 있는 박스 -->
            <div id="message-box" class="message-box">
              <div class="message-box-title">
                <h5>메세지 내역</h5>
                <i
                  id="close-message"
                  class="fa-solid fa-xmark close-message"
                ></i>
              </div>
              <div id="message-list" class="message-list">
                <!-- <div>
                  <div id="message-card" class="message-card">
                    <div class="user-profile">
                      <img src="/img/userImg.jpg" alt="" srcset="" />
                    </div>
                    <div class="message-info">
                      <div class="user-name">유저네임</div>
                      <div>메세지 내용</div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div id="chat-container" class="chat-container">
              <div class="chat-box-title">
                <h6>땡땡이님</h6>
                <i
                  id="close-chatting"
                  class="fa-solid fa-xmark close-message"
                ></i>
              </div>
              <div class="chatting-container">
                <ul id="chatting-list" class="chatting-list">
                  <li id="sent" class="sent"></li>
                  <li class="received"></li>
                </ul>
              </div>
              <div class="chat-input">
                <span>
                  <input id="chat-content" type="text" />
                  <button id="send-btn" class="send-button">전송</button>
                </span>
              </div>
            </div>
          </li>
          <li>
            <i
              id="logout"
              class="fa-solid fa-arrow-right-from-bracket logout header-icon"
            ></i>
          </li>
          <li id="profile">
            <img
              src="/img/userImg.jpg"
              class="rounded-circle border border-secondary"
              alt="..."
            />
          </li>
        </ul>
        <% } else if(isLogin === 0) { %>
        <ul class="login-nav-list">
          <li>
            <a href="/signin/user">
              <i
                class="fa-solid fa-arrow-right-to-bracket signin-icon header-icon"
              ></i>
            </a>
          </li>
          <li>
            <a href="/signup/user"
              ><i class="fa-solid fa-user-plus signup-icon header-icon"></i
            ></a>
          </li>
        </ul>
        <% }%>
      </div>
    </div>
  </nav>

  <script src="/js/header.js" defer></script>
  <script
    src="https://cdn.socket.io/4.4.0/socket.io.min.js"
    integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
    crossorigin="anonymous"
  ></script>
</body>
<link rel="stylesheet" href="/css/chat.css" />
<link rel="stylesheet" href="/css/header.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>
