<style>
  body {
    margin: 0;
  }

  .container-header {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.92);
    color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    line-height: 40px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
  }

  .header-logo {
    cursor: pointer;
    margin-bottom: 5px;
  }

  .header-nav-list {
    display: flex;
    position: absolute;
    right: 10px;
    margin-bottom: 0;
  }

  .header-nav-list > li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
  }

  .header-nav-list > li > a {
    text-decoration: none;
    color: black;
  }

  .search-box {
    width: 275px;
    border: 1px solid #396cf9;
    border-radius: 10px;
    height: 35px;
    margin-left: 10px;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    padding-left: 10px;
  }
  .search-input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
  }
  .search-input:focus {
    outline: none;
  }

  .search-font {
    font-size: 1.3em;
    margin-left: 3px;
    cursor: pointer;
    transform: translate(0%, +20%);
  }
</style>

<nav>
  <div>
    <div class="container-header">
      <div>
        <a href="/">
          <img class="header-logo" src="/img/winner.png" alt="" srcset="" />
        </a>
      </div>
      <div class="search-box">
        <i class="fa-solid fa-magnifying-glass search-font"></i>
        <input class="search-input" type="text" />
      </div>
      <% if(isLogin === 1) { %>
      <ul class="header-nav-list">
        <li>
          <a id="logout" href="#"> 로그아웃</a>
        </li>
        <li>
          <a href="/signup/user">회원가입</a>
        </li>
      </ul>
      <% } else if(isLogin === 0) { %>
      <ul class="header-nav-list">
        <li>
          <a href="/signin/user"> 로그인</a>
        </li>
        <li>
          <a href="/signup/user">회원가입</a>
        </li>
      </ul>
      <% }%>
    </div>
  </div>
</nav>
