<body>
  <nav>
    <div>
      <div class="container-header">
        <div>
          <a href="/">
            <img class="header-logo" src="/img/winner.png" alt="" srcset="" />
          </a>
        </div>
        <div class="search-box">
          <i
            class="fa-solid fa-magnifying-glass search-font"
            id="searchBtn"
          ></i>
          <input class="search-input" type="text" />
        </div>
        <% if(isLogin === 1) { %>
        <ul class="header-nav-list">
          <li>
            <i
              id="my-apply-list"
              class="fa-solid fa-list-check header-icon"
            ></i>
          </li>
          <li id="message-icon" class="message-icon">
            <i class="fa-regular fa-message header-icon"></i>
            <i
              id="exclamation-icon"
              class="fa-solid fa-exclamation exclamation-icon"
            ></i>
            <!-- 메세지 리스트가 있는 박스 -->
            <div id="message-box" class="message-box">
              <div class="message-box-title">
                <h5>메세지 내역</h5>
                <i
                  id="close-message"
                  class="fa-solid fa-xmark close-message"
                ></i>
              </div>
              <div id="message-list" class="message-list"></div>
            </div>
            <div id="chat-container" class="chat-container">
              <div id="chat-box-title" class="chat-box-title"></div>
              <div id="chatting-container" class="chatting-container">
                <ul id="chatting-list" class="chatting-list">
                  <!-- 나의 메세지 -->
                  <!-- <li id="sent" class="sent"></li> -->
                  <!-- 상대방의 메세지 -->
                  <!-- <li id="received" class="received"></li> -->
                </ul>
              </div>
              <div class="chat-input">
                <span>
                  <input
                    id="chat-content"
                    type="text"
                    onkeyPress="if(window.event.keyCode==13){sendMessage()}"
                  />
                  <button id="send-btn" class="send-button">전송</button>
                </span>
              </div>
            </div>
          </li>
          <li>
            <i
              id="logout"
              class="fa-solid fa-arrow-right-from-bracket logout header-icon"
            ></i>
          </li>
          <li id="profile">
            <img
              src="/img/userImg.jpg"
              class="rounded-circle border border-secondary"
              alt="..."
            />
          </li>
        </ul>
        <% } else if(isLogin === 0) { %>
        <ul class="login-nav-list">
          <li>
            <a href="/signin/user">
              <i
                class="fa-solid fa-arrow-right-to-bracket signin-icon header-icon"
              ></i>
            </a>
          </li>
          <li>
            <a href="/signup/user"
              ><i class="fa-solid fa-user-plus signup-icon header-icon"></i
            ></a>
          </li>
        </ul>
        <% }%>
      </div>
    </div>
  </nav>

  <script src="/js/header.js" defer></script>
  <script src="/js/search.js" defer></script>
  <script
    src="https://cdn.socket.io/4.4.0/socket.io.min.js"
    integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
    crossorigin="anonymous"
  ></script>
</body>
<link rel="stylesheet" href="/css/chat.css" />
<link rel="stylesheet" href="/css/header.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>
