<!-- Modal -->
<div
  class="modal fade"
  id="resume-add"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">이력서 작성</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- 소개 -->
      <div class="modal-body text-start">
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">소개</label>
          <div class="col-sm-9">
            <input class="form-control" id="createTitle" />
          </div>
        </div>
        <!-- 소개 -->
        <!-- 내용 -->

        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">내용</label>
          <div class="col-sm-9">
            <input class="form-control" id="createContent" />
          </div>
        </div>
      </div>

      <!-- 내용 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          취소
        </button>
        <button type="button" class="btn btn-primary" id="createResumeBtn">
          저장
        </button>
      </div>
    </div>
  </div>
</div>
