<div
  class="modal fade modal-fullscreen-sm-down"
  id="jobposting-add"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">채용공고 추가</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <div class="modal-body">
          <!-- 채용공고명 -->
          <div class="container">
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">채용공고명</label>
              <div class="col-12">
                <input
                  class="form-control"
                  id="add-title-info"
                  placeholder="공고명을 입력해주세요."
                />
              </div>
            </div>
            <!-- 채용공고명 -->
            <!-- 경력 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">경력</label>
              <div class="col-12">
                <input
                  class="form-control"
                  id="add-career-info"
                  placeholder="예) 신입/경력"
                />
              </div>
            </div>
            <!-- 경력 -->
            <!-- 급여 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">급여</label>
              <div class="col-12">
                <input
                  class="form-control"
                  id="add-salary-info"
                  placeholder="예) 회사 내규"
                />
              </div>
            </div>
            <!-- 급여 -->
            <!-- 학력 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">학력</label>
              <div class="col-12">
                <input
                  class="form-control"
                  id="add-education-info"
                  placeholder="예) 학력 무관"
                />
              </div>
            </div>
            <!-- 학력 -->
            <!-- 직무 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">직무</label>
              <div class="col-12">
                <input
                  class="form-control"
                  id="add-job-info"
                  placeholder="예) IT"
                />
              </div>
            </div>
            <!-- 직무 -->
            <!-- 근무지역 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">근무지역</label>
              <div class="col-12">
                <input
                  class="form-control"
                  id="add-workarea-info"
                  placeholder="예) 서울 > 중구"
                />
              </div>
            </div>
            <!-- 근무지역 -->
            <!-- 근무형태 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">근무형태</label>
              <div class="col-12">
                <input
                  class="form-control"
                  id="add-worktype-info"
                  placeholder="예) 계약직/정규직 [수습기간: 3개월]"
                />
              </div>
            </div>
            <!-- 근무형태 -->
            <!-- 채용 마감일 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">채용 마감일</label>
              <div class="col-12">
                <input
                  class="form-control"
                  id="add-duedate-info"
                  placeholder="예) 상시"
                />
              </div>
            </div>
            <!-- 채용마감일 -->
            <!-- 내용 -->
            <div class="mb-3">
              <label
                for="exampleFormControlTextarea1"
                class="form-label"
                style="margin-top: 10px"
                >채용공고 설명</label
              >
              <textarea
                class="form-control"
                id="add-content-info"
                rows="15"
                placeholder="채용공고 내용을 10자 이상 입력해주세요."
              ></textarea>
            </div>

            <!-- 내용 -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          취소
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="jobposting-update-btn"
        >
          저장
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  const updateBtn = document.querySelector('#jobposting-update-btn');
  const titleInfo = document.querySelector('#add-title-info');
  const careerInfo = document.querySelector('#add-career-info');
  const salaryInfo = document.querySelector('#add-salary-info');
  const educationInfo = document.querySelector('#add-education-info');
  const jobInfo = document.querySelector('#add-job-info');
  const workareaInfo = document.querySelector('#add-workarea-info');
  const worktypeInfo = document.querySelector('#add-worktype-info');
  const duedateInfo = document.querySelector('#add-duedate-info');
  const contentInfo = document.querySelector('#add-content-info');

  updateBtn.addEventListener('click', async () => {
    const jobData = {
      title: titleInfo.value,
      career: careerInfo.value,
      salary: salaryInfo.value,
      education: educationInfo.value,
      job: jobInfo.value,
      workArea: workareaInfo.value,
      workType: worktypeInfo.value,
      dueDate: duedateInfo.value,
      content: contentInfo.value,
    };

    if (contentInfo.value.length < 10) {
      alert('내용을 10자 이상 입력해주세요.');
    }

    try {
      const response = await fetch('/api/jobpostings', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(jobData),
      });
      console.log('jobData', jobData);

      if (response.ok) {
        alert('채용 공고가 추가되었습니다.');
        window.location.reload();
      } else {
        console.error(
          '채용 공고를 생성하는 동안 오류가 발생했습니다.',
          response,
        );
      }
    } catch (error) {
      console.error('요청을 보내는 중 오류가 발생했습니다:', error);
    }
  });
</script>
