<div
  class="modal fade modal-fullscreen-sm-down"
  id="jobposting"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          채용 공고 수정
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <div class="modal-body">
          <!-- 채용공고명 -->
          <div class="container">
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">채용공고명</label>
              <div class="col-10">
                <input class="form-control" id="userAddressTag" />
              </div>
            </div>

            <!-- 채용공고명 -->
            <!-- 회사명 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">회사명</label>
              <div class="col-12">
                <input class="form-control" id="userBirthTag" />
              </div>
            </div>
            <!-- 회사명 -->
            <!-- 경력 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">경력</label>
              <div class="col-12">
                <input class="form-control" id="userBirthTag" />
              </div>
            </div>
            <!-- 경력 -->
            <!-- 급여 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">급여</label>
              <div class="col-12">
                <input class="form-control" id="userBirthTag" />
              </div>
            </div>
            <!-- 급여 -->
            <!-- 학력 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">학력</label>
              <div class="col-12">
                <input class="form-control" id="userBirthTag" />
              </div>
            </div>
            <!-- 학력 -->
            <!-- 근무지역 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">근무지역</label>
              <div class="col-12">
                <input class="form-control" id="userBirthTag" />
              </div>
            </div>
            <!-- 근무지역 -->
            <!-- 근무형태 -->
            <div class="mb-2 row">
              <label class="col-sm-3 col-form-label">근무형태</label>
              <div class="col-12">
                <input class="form-control" id="userBirthTag" />
              </div>
            </div>
            <!-- 근무형태 -->
            <!-- 내용 -->
            <div class="mb-3">
              <label
                for="exampleFormControlTextarea1"
                class="form-label"
                style="margin-top: 10px"
                >채용공고 설명</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="20"
              ></textarea>
            </div>

            <!-- 내용 -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          id="deleteResumeBtn"
        >
          삭제
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          취소
        </button>
        <button type="button" class="btn btn-primary" id="userUpdateBtn">
          저장
        </button>
      </div>
    </div>
  </div>
</div>
