<!-- Modal -->

<style>
  .picture-modify {
    width: 100%;
    margin: 0px 0px 10px 0px;
    /* display: none; */
  }
</style>
<div
  class="modal fade"
  id="profile-user-image"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          프로필 이미지 수정
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <!-- 인물 이미지 -->
              <img
                src="/img/userImg.jpg"
                class="rounded-circle border border-secondary profile-img"
                alt="..."
                style="width: 150px"
              />
            </div>
          </div>
          <div style="margin: 10px">
            <!-- 이미지 수정버튼 -->
            <button type="button" class="btn btn-primary picture-btn">
              이미지 수정
            </button>
            <!-- 파일이미지 업로드 -->
            <input
              class="picture-modify"
              type="file"
              accept="image/jpeg, image/png"
            />
            <!-- 기본 프로필 적용 버튼 -->
            <button class="btn btn-outline-secondary picture-delete">
              기본 프로필적용
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary profile-save-btn">
          저장
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  const profileImageEl = document.querySelector('.profile-img'); //프로필 이미지 영역
  const uploadInputEl = document.querySelector('.picture-modify'); // 이미지 업로드 인풋
  const pictureDeleteEl = document.querySelector('.picture-delete'); //기본 프로필 적용 버튼
  const profileBtnEl = document.querySelector('.profile-save-btn'); //저장 버튼
  const pictureBtnEl = document.querySelector('.picture-btn'); // 이미지 수정버튼

  uploadInputEl.addEventListener('change', async (e) => {
    console.log(e.target.files[0]);
    const file = e.target.files[0];
    // if (file.size > 1 * 1024 * 1024) {
    //   alert('파일용량은 최대 1MB입니다.');
    //   return;
    // }
    // if (!file.type.includes('jpeg') && !file.type.includes('png')) {
    //   alert('jpeg 또는 png 파일만 업로드 가능합니다.');
    //   return;
    // }

    const response = await fetch('/api/upload', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        file: file.value,
      }),
    });
    const { data } = await response.json();
    console.log(data);
  });

  profileBtnEl.addEventListener('click', () => {
    uploadInputEl.click();
  });
</script>
