<!-- Modal -->
<div
  class="modal fade"
  id="review"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">리뷰 수정</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <!-- 별점 -->
        <!-- 별점 어떻게 줘야하지?.. -->
        <div class="modal-body">
          <div class="mb-2 row">
            <label class="col-sm-3 col-form-label">별점</label>
            <div class="col-sm-12">
              <input class="form-control" id="userNameTag" />
            </div>
          </div>
          <!-- 별점 -->
          <!-- 제목 -->
          <div class="mb-2 row">
            <label class="col-sm-3 col-form-label">제목</label>
            <div class="col-sm-12">
              <input class="form-control" id="userNameTag" />
            </div>
          </div>
          <!-- 제목 -->
          <!-- 내용 -->
          <div class="mb-3">
            <label
              for="exampleFormControlTextarea1"
              class="form-label"
              style="margin-top: 10px"
              >내용</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="10"
            ></textarea>
          </div>

          <!-- 내용 -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          취소
        </button>
        <button type="button" class="btn btn-primary" id="userUpdateBtn">
          저장
        </button>
      </div>
    </div>
  </div>
</div>
