body {
  margin: 0;
}

.message-box::-webkit-scrollbar,
.chatting-container::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.message-box::-webkit-scrollbar-thumb,
.chatting-container::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #b6b8bb; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.message-box::-webkit-scrollbar-track,
.chatting-container::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

.container-header {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.92);
  color: black;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  line-height: 40px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.header-logo {
  cursor: pointer;
  margin-bottom: 5px;
}

.header-nav-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 250px;
  display: flex;
  justify-content: space-between;
  width: 250px;
  right: 10px;
  margin-bottom: 0;
}

.header-nav-list > li {
  list-style: none;
  /* cursor: pointer; */
  position: relative;
  position: relative;
}

.header-nav-list > li > a {
  text-decoration: none;
  color: black;
}

.header-nav-list > li > .logout {
  color: #ea612d;
}

.header-icon {
  font-size: 26px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.exclamation-icon {
  opacity: 0;
  border-radius: 70%;
  padding: 5px;
  width: 26px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 30px;
  z-index: 100;
  color: white;
  background-color: #ea612d;
}

.header-nav-list > li > img {
  width: 50px;
}

.login-nav-list {
  justify-content: space-between;
  display: flex;
  position: absolute;
  width: 100px;
  right: 50px;
  margin-bottom: 0;
}

.login-nav-list > li {
  list-style: none;
  position: relative;
}
.login-nav-list > li > a {
  text-decoration: none;
  color: black;
}

.header-icon {
  cursor: pointer;
}

.signup-icon {
  color: #279eff;
}

.header-nav-list > li > .logout {
  color: #ea612d;
}

.header-nav-list > li > .header-icon {
  font-size: 26px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-nav-list > li > img {
  width: 50px;
}

.search-box {
  width: 275px;
  border: 1px solid #396cf9;
  border-radius: 10px;
  height: 35px;
  margin-left: 10px;
  padding: 0 5px 0 5px;
  box-sizing: border-box;
  display: flex;
  padding: 0;
  padding-left: 10px;
}
.search-input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}
.search-input:focus {
  outline: none;
}

.search-font {
  font-size: 1.3em;
  margin-left: 3px;
  cursor: pointer;
  transform: translate(0%, +20%);
}

.message-icon {
  position: relative;
}
.message-icon > .message-box {
  border-radius: 10px;
  border: 1px solid #e1e2e3;
  display: none;
  width: 400px;
  min-height: 500px;
  position: absolute;
  z-index: 1;
  background-color: white;
  transform: translate(-93%, 8%);
}

.message-box > .message-box-title {
  border-bottom: 0.5px solid #e1e2e3;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-box-title > h5 {
  margin: 0;
}
.close-message {
  color: #ea612d;
  cursor: pointer;
}

.message-list {
  display: flex;
  flex-direction: column;
}
.message-list div .message-card {
  cursor: pointer;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  border-bottom: 0.5px solid #e1e2e3;
}
.message-icon > .chat-container {
  border-radius: 10px;
  border: 1px solid #e1e2e3;
  display: none;
  flex-direction: column;
  width: 400px;
  min-height: 500px;
  max-height: 500px;
  position: absolute;
  z-index: 10;
  background-color: white;
  transform: translate(-93%, 8%);
}

.chat-container > .chat-box-title {
  flex: 1;
  border-bottom: 0.5px solid #e1e2e3;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.chat-box-title > h6 {
  margin: 0;
}

.chatting-container {
  flex: 13;
  overflow-y: scroll;
  /* overflow: auto; */
}
.chat-icon-box {
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.chat-icon-box > .offer-interview {
  color: #279eff;
  cursor: pointer;
}

.chatting-list {
  padding: 10px;
}

.chatting-list > li {
  padding-top: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0px;
}

.sent {
  flex-direction: row-reverse;
  float: rightdisplay-container;
}

.message {
  padding: 5px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.sent .message {
  background-color: #638cfa5e;
}

.received .message {
  background-color: #85878b6c;
}

.chat-input {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.chat-input > span {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

.chat-input > span > input {
  border: 0.2 solid #b6b8bb;
  font-size: 12px;
  height: 100%;
  flex: 8;
}

.chat-input > span > button {
  flex: 1;
  border: none;
  height: 100%;
  border-radius: 3px;
}

.user-profile {
  width: 90px;
  z-index: 100;
  padding: 10px;
  position: relative;
}
.user-profile > img {
  border: 0.5px solid #e1e2e3;
  border-radius: 70%;
  width: 60px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
.message-card > .message-info {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

.message-card > .new-msg-alram-icon {
  color: #ea612d;
  padding-top: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 22px;
  opacity: 0;
}

.message-info > .user-name {
  height: 30px;
  font-weight: 700;
  font-size: 19px;
}
