.signup-box > h1 {
  margin-top: 1.2em;
  margin-bottom: 1em;
}

.signup-box {
  width: 659px;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  top: 13%;

  box-shadow: 0 0 10px 5px;
  color: rgba(151, 149, 149, 0.719);
  text-align: center;
}

.box {
  /* border: 1px solid black; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.title {
  color: black;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 0.5px solid gray;
}

.profile-box {
  display: block;
  position: relative;
  margin-bottom: 3em;
}

.edit-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
}

.img-file {
  cursor: pointer;
  width: 17px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
  opacity: 0;
}
.img-file::-webkit-file-upload-button {
  cursor: pointer;
}

.user-img {
  width: 100px;
  border: 0.5px solid gray;
  border-radius: 70%;
}

.gender-select {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  margin-bottom: 2em;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.gender-select::-ms-expand {
  display: none;
}

.signup-btn {
  margin-bottom: 10px;
}
.signup-btn > a {
  text-decoration: none;
}

/* 이메일 입력, 인증번호 입력 칸과 밸런스를 위해 css 수정했습니다. */
.email-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.email-input-box button {
  width: auto;
}

.expand {
  justify-content: center;
  margin-bottom: 3em;
}

.expand input {
  flex: 1;
}
