<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/container.css" />
    <style>
      .btn-group {
        margin-right: 10px;
      }

      /* background-color: aqua; */
      /* border-radius: 0.375rem;
        box-shadow: 0 0.125rem 0.25rem rgba(black); */
    </style>
    <title>Document</title>
  </head>
  <body>
    <%- include('includes/header') %>

    <div class="container">
      <!-- μ „μ²΄ μ»¨ν…μ΄λ„ μ‚¬μ΄μ¦ μ΅°μ  -->
      <div class="container-fluid">
        <!-- μ»¨ν…μ΄λ„ ν”λ ‰μ¤ μ™Όμ½ μ •λ ¬ -->
        <div class="d-flex flex-row mb-3 m-3">
          <!-- μ§κµ° λ“λ΅­λ‹¤μ΄ λ²„νΌ -->
          <div class="btn-group">
            <button
              class="btn btn-primary btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              μ§κµ° μ „μ²΄
            </button>
            <ul class="p-1 dropdown-menu">
              <li><a class="dropdown-item" href="#">λ””μμ΄λ„</a></li>
              <li><a class="dropdown-item" href="#">κ°λ°μ</a></li>
              <li><a class="dropdown-item" href="#">κΈ°νμ</a></li>
            </ul>
          </div>

          <!-- μ§€μ—­ λ“λ΅­λ‹¤μ΄ λ²„νΌ -->
          <div class="btn-group">
            <button
              class="btn btn-outline-secondary btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              μ§€μ—­ μ „κµ­
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">μ„μΈ</a></li>
              <li><a class="dropdown-item" href="#">κ²½κΈ°</a></li>
              <li><a class="dropdown-item" href="#">κµ¬λ―Έ</a></li>
            </ul>
          </div>

          <!-- κ²½λ ¥ λ“λ΅­λ‹¤μ΄ λ²„νΌ -->
          <div class="btn-group">
            <button
              class="btn btn-outline-secondary btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              κ²½λ ¥ μ „μ²΄
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">μΈν„΄</a></li>
              <li><a class="dropdown-item" href="#">μ‹ μ…</a></li>
              <li><a class="dropdown-item" href="#">1λ…„μ°¨</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- μ±„μ©κ³µκ³  μμ—­ -->
    <div class="container shadow-sm p-4 rounded">
      <p class="fs-4 fw-semibold text-secondary-emphasis">β­οΈ μΈκΈ° μ±„μ©κ³µκ³ </p>
      <div class="row justify-center-between row-cols-lg-4">
        <!-- μΉ΄λ“μμ—­ -->
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem">
              <img
                src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/7Nj8/image/LkMCT0sdoAU44RJYQ5VZQlT5lFc.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Node.js λ°±μ—”λ“ κ°λ°μ</h5>
                <p class="card-text">μ–΄λ‹μ¤νΈ ν€λ“α†μ„μΈ κ°•λ¶κµ¬</p>
                <a href="#" class="btn btn-primary">μμ„Έν λ³΄κΈ°</a>
              </div>
            </div>
          </div>
        </div>
        <!-- μΉ΄λ“ μμ—­ -->
        <!-- μΉ΄λ“μμ—­ -->
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem">
              <img
                src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/7Nj8/image/LkMCT0sdoAU44RJYQ5VZQlT5lFc.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Node.js λ°±μ—”λ“ κ°λ°μ</h5>
                <p class="card-text">μ–΄λ‹μ¤νΈ ν€λ“α†μ„μΈ κ°•λ¶κµ¬</p>
                <a href="#" class="btn btn-primary">μμ„Έν λ³΄κΈ°</a>
              </div>
            </div>
          </div>
        </div>
        <!-- μΉ΄λ“ μμ—­ -->
        <!-- μΉ΄λ“μμ—­ -->
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem">
              <img
                src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/7Nj8/image/LkMCT0sdoAU44RJYQ5VZQlT5lFc.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Node.js λ°±μ—”λ“ κ°λ°μ</h5>
                <p class="card-text">μ–΄λ‹μ¤νΈ ν€λ“α†μ„μΈ κ°•λ¶κµ¬</p>
                <a href="#" class="btn btn-primary">μμ„Έν λ³΄κΈ°</a>
              </div>
            </div>
          </div>
        </div>
        <!-- μΉ΄λ“ μμ—­ -->
        <!-- μΉ΄λ“μμ—­ -->
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem">
              <img
                src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/7Nj8/image/LkMCT0sdoAU44RJYQ5VZQlT5lFc.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Node.js λ°±μ—”λ“ κ°λ°μ</h5>
                <p class="card-text">μ–΄λ‹μ¤νΈ ν€λ“α†μ„μΈ κ°•λ¶κµ¬</p>
                <a href="#" class="btn btn-primary">μμ„Έν λ³΄κΈ°</a>
              </div>
            </div>
          </div>
        </div>
        <!-- μΉ΄λ“ μμ—­ -->
        <!-- μΉ΄λ“μμ—­ -->
        <div class="col">
          <div class="p-3">
            <div class="card" style="width: 18rem">
              <img
                src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/7Nj8/image/LkMCT0sdoAU44RJYQ5VZQlT5lFc.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Node.js λ°±μ—”λ“ κ°λ°μ</h5>
                <p class="card-text">μ–΄λ‹μ¤νΈ ν€λ“α†μ„μΈ κ°•λ¶κµ¬</p>
                <a href="#" class="btn btn-primary">μμ„Έν λ³΄κΈ°</a>
              </div>
            </div>
          </div>
        </div>
        <!-- μΉ΄λ“ μμ—­ -->
      </div>
    </div>

    <!-- μΈμ¬ μ°ΎκΈ° μμ—­ -->
    <div class="container shadow-sm p-4 rounded">
      <p class="fs-4 fw-semibold text-secondary-emphasis">π™†β€β™‚οΈ μΈμ¬ μ°ΎκΈ°</p>
      <div class="row justify-center-between row-cols-lg-4">
        <!-- μΈμ¬ μΉ΄λ“μμ—­ -->
        <div class="col">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://i.pinimg.com/236x/6f/13/95/6f1395fff84cb93009a76a6e73b32cdc.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">ν™κΈΈλ™</h5>
                  <p class="card-text">κ°λ°μ</p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >YouTube Creator & Full Stack Developer</small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- μΉ΄λ“ μμ—­ -->
      </div>
    </div>

    <!-- λ‚΄ μ£Όλ³€ νμ‚¬ μμ—­ (μΉ΄μΉ΄μ¤ API) -->
    <div class="container shadow-sm p-3 mb-3 rounded">
      <p class="fs-4 fw-semibold text-secondary-emphasis">π—ΊοΈ μ§‘ μ£Όλ³€ νμ‚¬</p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
