<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <%- include('includes/header') %>
      <h1>Cloud Support Associate</h1>
      <h2>아마존</h2>
      <button>지원하기</button>
      <button>메세지 보내기</button>
      <button>가입정보 보기</button>
    </div>
  </body>
</html>
