<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/9021aeec94.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/jobposting.css" />
    <title>Document</title>
    <style>
      .col-2 {
        padding: 0px;
      }
      .col-10 {
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <%- include('includes/header', {isLogin: 0, type: "user"}) %>
    <div class="container">
      <!-- 브레드크롬 -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">jobposting</li>
        </ol>
      </nav>
      <!-- 브레드크롬 -->
      <div class="company-info-box">
        <div class="col-md-6">
          <h1>Cloud Support Associate</h1>
          <h2>아마존</h2>
        </div>
        <div class="col-md-6 text-start">
          <button type="button" class="btn btn-primary me-2">지원하기</button>
          <button type="button" class="btn btn-outline-primary me-2">
            메세지 보내기
          </button>
          <button type="button" class="btn btn-outline-primary">
            기업정보 보기
          </button>
        </div>
      </div>

      <!-- 개인소개 영역 -->
      <div class="container text-start">
        <div class="row">
          <!-- 경력 -->
          <div class="col-2">
            <p class="fs-5 fw-normal text-secondary" style="margin: 10px">
              경력
            </p>
          </div>

          <div class="col-10" id="resumeBox">
            <p class="fs-5 fw-normal information" style="margin: 10px">
              신입·경력 4년 ↑
            </p>
          </div>
          <!-- 경력 -->
          <!-- 급여 -->
          <div class="col-2">
            <p class="fs-5 fw-normal text-secondary" style="margin: 10px">
              급여
            </p>
          </div>

          <div class="col-10" id="resumeBox">
            <p class="fs-5 fw-normal information" style="margin: 10px">
              회사내규에 따름
            </p>
          </div>
          <!-- 급여 -->
          <!-- 학력 -->
          <div class="col-2">
            <p class="fs-5 fw-normal text-secondary" style="margin: 10px">
              학력
            </p>
          </div>

          <div class="col-10" id="resumeBox">
            <p class="fs-5 fw-normal information" style="margin: 10px">
              학력무관
            </p>
          </div>
          <!-- 학력 -->
          <!-- 근무지역 -->
          <div class="col-2">
            <p class="fs-5 fw-normal text-secondary" style="margin: 10px">
              근무지역
            </p>
          </div>

          <div class="col-10" id="resumeBox">
            <p class="fs-5 fw-normal information" style="margin: 10px">
              서울 강남구, 서울전체, 서초구, 송파구
            </p>
          </div>
          <!-- 근무지역 -->
          <!-- 근무지역 -->
          <div class="col-2">
            <p class="fs-5 fw-normal text-secondary" style="margin: 10px">
              근무형태
            </p>
          </div>

          <div class="col-10" id="resumeBox">
            <p class="fs-5 fw-normal information" style="margin: 10px">
              정규직, 계약직
            </p>
          </div>
          <!-- 근무지역 -->
        </div>
      </div>

      <hr />

      <div class="container text-center">
        <div class="row">
          <div class="col-2">
            <p class="text-start fs-5 fw-semibold" style="margin: 10px">
              채용공고 설명
            </p>
          </div>

          <div class="col-10" id="careerBox">
            <p class="fs-5 text-start information" style="margin: 10px">
              Cloud Support Associate (CSA)는 AWS 서비스를 사용하는 고객을
              대상으로 장애에 대한 troubleshooting 및 general guidance 등의
              기술지원을 수행합니다. CSA는 소속된 Profile에 따라 다수의 AWS
              서비스를 지원합니다. Profile은 다음과 같이 분류되어 있습니다.
              Computing (Linux/Windows) Networking, Security Storage & Contents
              Delivery Network Deployment Developer & Mobile Services
              (Serverless, Web Mobile, IoT) Database, Analytics, Big Data
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
</html>
