<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/container.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <%- include('includes/header') %>
      <div class="signup-box">
        <% if (type === "user") { %>
        <h1>개인 정보 입력</h1>
        <% } else if (type === 'company') { %>
        <h1>회사 정보 입력</h1>

        <% } %>
        <div class="box">
          <div class="profile-box">
            <!-- public폴더에 경로가 고정되어있기때문에 
              경로맨 앞에 "/"를 붙이고 아래의 경로로 탐색한다. -->
            <img src="/img/userImg.jpg" class="user-img" alt="" srcset="" />
            <i class="fa-solid fa-pen edit-icon"></i>
          </div>

          <% if (type === "user") { %>
          <div class="email-input-box input-box">
            <input type="text" placeholder="email" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="password" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="username" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="phone" />
          </div>
          <select class="gender-select" aria-placeholder="gender">
            <option value="M">male</option>
            <option value="F">female</option>
          </select>
          <div class="email-input-box input-box">
            <input type="text" placeholder="address" />
          </div>
          <div class="email-input-box input-box">
            <input type="date" placeholder="생년월일" />
          </div>

          <% } else if (type === 'company') { %>
          <div class="email-input-box input-box">
            <input type="text" placeholder="email" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="password" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="confirmPassword" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="company title" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="introduction" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="website" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="address" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="business" />
          </div>
          <div class="email-input-box input-box">
            <input type="text" placeholder="employees" />
          </div>
          <% } %>

          <div class="email-input-box">
            <input class="signin-btn" value="회원가입" type="button" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
