<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/container.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <title>WINNER</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- web Font -->
    <!--link rel="stylesheet" href="복사한 cdn 라이브러리 웹 경로" /-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="/js/signup.js" defer></script>
  </head>
  <body>
    <div class="main-container">
      <!-- <div class="container"> -->
      <%- include('includes/header', { isLogin: 0}) %>
      <div class="signup-box">
        <% if (type === "user") { %>
        <h1>개인 정보 입력</h1>
        <% } else if (type === 'company') { %>
        <h1>회사 정보 입력</h1>
        <% } %>
        <div class="box">
          <div class="profile-box">
            <!-- public폴더에 경로가 고정되어있기때문에 
              경로맨 앞에 "/"를 붙이고 아래의 경로로 탐색한다. -->
            <img
              src="/img/userImg.jpg"
              id="image"
              class="user-img"
              alt=""
              srcset=""
            />
            <i class="fa-solid fa-pen edit-icon"></i>
            <input
              id="upload-image"
              class="img-file"
              type="file"
              accept="image/jpeg, image/png"
            />
          </div>

          <% if (type === "user") { %>
          <!-- 이메일 입력 + 인증번호 전송 버튼 -->
          <div class="box-label">
            <label>이메일</label>
          </div>
          <div class="email-input-box">
            <input id="input-email" type="text" placeholder="이메일" />
            <button id="send-verification-btn" class="btn btn-sm btn-primary">
              인증번호 전송
            </button>
          </div>

          <!-- 인증번호 입력 + 인증번호 확인 버튼 -->
          <div class="box-label">
            <label>인증코드 확인</label>
          </div>
          <div class="email-input-box">
            <input
              id="input-verification-code"
              type="text"
              placeholder="인증코드확인"
            />
            <button id="verify-code-btn" class="btn btn-sm btn-primary">
              인증번호 확인
            </button>
          </div>

          <div class="box-label">
            <label>비밀번호</label>
          </div>
          <div class="email-input-box expand">
            <input
              id="input-password"
              type="password"
              placeholder="패스워드 (영소문자 숫자조합 5자 이상)"
            />
          </div>

          <div class="box-label">
            <label>사용자명</label>
          </div>
          <div class="email-input-box expand">
            <input id="input-username" type="text" placeholder="사용자명" />
          </div>

          <div class="box-label">
            <label>전화번호</label>
          </div>
          <div class="email-input-box expand">
            <input
              id="input-phone"
              type="text"
              placeholder="전화번호 '-'를 붙여주세요"
            />
          </div>

          <div class="box-label">
            <label>성별</label>
          </div>
          <div class="email-input-box expand">
            <select id="gender" class="gender-select" aria-placeholder="성별">
              <option value="M">남성</option>
              <option value="F">여성</option>
            </select>
          </div>

          <div class="box-label">
            <label>주소</label>
          </div>
          <div class="email-input-box expand">
            <input id="input-address" type="text" placeholder="주소" />
          </div>

          <div class="box-label">
            <label>생년월일</label>
          </div>
          <div class="email-input-box expand">
            <input id="input-birth" type="date" placeholder="생년월일" />
          </div>
          <% } else if (type === 'company') { %>
          <div class="box-label">
            <label>이메일</label>
          </div>
          <div class="email-input-box">
            <input id="input-email" type="text" placeholder="이메일" />
            <!-- '인증번호 전송' 버튼 -->
            <button id="send-verification-btn" class="btn btn-sm btn-primary">
              인증번호 전송
            </button>
          </div>

          <!-- 인증번호 입력 필드 -->
          <div class="box-label">
            <label>인증코드 확인</label>
          </div>
          <div class="email-input-box">
            <input
              id="input-verification-code"
              type="text"
              placeholder="인증코드확인"
            />
            <!-- '인증번호 확인' 버튼 -->
            <button id="verify-code-btn" class="btn btn-sm btn-primary">
              인증번호 확인
            </button>
          </div>

          <div class="box-label">
            <label>비밀번호</label>
          </div>
          <div class="email-input-box expand">
            <input
              id="input-password"
              type="password"
              placeholder="패스워드 (영소문자 숫자조합 5자 이상)"
            />
          </div>

          <div class="box-label">
            <label>상호명</label>
          </div>
          <div class="email-input-box expand">
            <input id="input-title" type="text" placeholder="상호명" />
          </div>

          <div class="box-label">
            <label>회사소개</label>
          </div>
          <div class="email-input-box expand">
            <input id="input-introduction" type="text" placeholder="회사소개" />
          </div>

          <div class="box-label">
            <label>회사 웹사이트 주소</label>
          </div>
          <div class="email-input-box expand">
            <input
              id="input-website"
              type="text"
              placeholder="회사 웹사이트 주소 예)https://spartacodingclub.kr/"
            />
          </div>

          <div class="box-label">
            <label>주소</label>
          </div>
          <div class="email-input-box expand">
            <input id="input-address" type="text" placeholder="주소" />
          </div>

          <div class="box-label">
            <label>업종</label>
          </div>
          <div class="email-input-box expand">
            <input id="input-business" type="text" placeholder="업종" />
          </div>

          <div class="box-label">
            <label>사원수</label>
          </div>
          <div class="email-input-box expand">
            <input id="input-employees" type="text" placeholder="사원수" />
          </div>
          <% } %>
          <div class="email-input-box expand">
            <input
              id="signup-btn"
              class="signin-btn"
              value="회원가입"
              type="button"
            />
          </div>

          <% if (type === "user") { %>
          <h4 class="signup-btn">
            <a href="/signup/company">회사로 회원가입하기 </a>
          </h4>

          <% } else if (type === 'company') { %>
          <h4 class="signup-btn">
            <a href="/signup/user">유저로 회원가입하기 </a>
          </h4>
          <% } %>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
